.ymaps-2-1-50-balloon, .ymaps-2-1-50-balloon * {
    background: #3a3d46 !important;
    color: #dddddd
}

.ymaps-2-1-50-balloon__tail {
    display: none
}

.ymaps-2-1-50-balloon__close-button {
    background: url('../images/close_bal.png') !important;
    width: 19px;
    height: 19px;
    margin: 10px;
}

.b-container{
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    width: 400px;
    height: 160px;
    padding: 15px;
}

.b-inner div{
    margin: 2px 0;
}

.b-container a{
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 1px dotted #fff;
    margin-bottom: 10px;
}

.b-container img{
    max-width: 130px;
    margin: 0 15px 0 0;
}

.ymaps-2-1-50-b-cluster-content__header {
    display: none;
}

.ymaps-2-1-50-b-cluster-tabs__menu-item_current_yes .ymaps-2-1-50-b-cluster-tabs__menu-item-text{
    border-bottom: 1px dotted #fff;
    color: #dddddd
}

.ymaps-2-1-50-b-cluster-tabs__menu-item-text:hover{
    color: #dddddd;
}

.ymaps-2-1-50-b-cluster-tabs__section_type_nav{
    border-right-color: rgba(255, 255, 255, 0.17);
}