{if $display_likes_on_product_manage == 'Y'}
    <th width="5%" class="nowrap"><a class="cm-ajax" href="{"`$c_url`&sort_by=likes&sort_order=`$search.sort_order_rev`"|fn_url}" data-ca-target-id={$rev}>{__("likes")}{if $search.sort_by == "likes"}{$c_icon nofilter}{else}{$c_dummy nofilter}{/if}</a></th>
{/if}