<div class="table__row">
	<div class="table__cell number-cell">1</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под девелопмент. Предпологаемая концепция: строительство МФК с комплексом апартаментов площадью свыше 50 тыс кв.м.</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">2</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Прокт строительства торгового центра</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">3</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под девелопмент </div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">4</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под девелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">5</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под девелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">6</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Здание под реконструкцию</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">7</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Здание под реконструкцию</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">8</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Здание под реконструкцию</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">9</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Здание под реконструкцию</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">10</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Проект реконструкции здания</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">11</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Проект реконструкции здания</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">12</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК&nbsp;&nbsp;под девелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">13</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Прокт строительства призводственно-складского комплекса с офисной составляющей. Получено разрешение на строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">14</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Прокт регенерации участка застройки со строительством гостиничного комплекса с подземной автостоянкой</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">15</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под девелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">16</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Инвестиционный проект по перепрофилированию существующего здания в апарт-отель. Получено ГПЗУ</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">17</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Проект строительства жилого комплекса с подземным паркингом и торгово-развлекательным комплексом на 176 тыс кв.м</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">18</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под реконструкцию.&nbsp;&nbsp;Предполагаемая концепция: строительство концертно-торгового центра общей площадью 24 тыс.кв.м.</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">19</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под девелопмент. Предпологаемая концепция строительство МФК с комплексом апартаментов площадью свыше 30 тыс кв.м.</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">20</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под девелопмент. Предпологаемая концепция строительство МФК, включая&nbsp;&nbsp;офисные помещения,&nbsp;&nbsp;торговые площади, ресторан, апартаменты, оздоровительный центр и подземную парковку</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">21</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под девелопмент. Предполагаемая концепция - строительство гостиницы с апартаментами и бизнес центром</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">22</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под девелопмент. Предполагаемая концепция - строительство гостиницы с апартаментами и бизнес центром</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">23</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под редевелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">24</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Проект строительства жилого комплекса с детским садом, общая площадь 24 тыс кв.м </div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">25</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под редевелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">26</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под редевелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">27</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под редевелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">28</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под редевелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">29</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Инвестиционный проект стрительства ТЦ с разрешением на строительство, общей площадью 29 тыс. кв.м.</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">30</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Инвестиционый проект строительства торгового центра. Получено ГПЗУ</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">31</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Проект строительства физкультурно-оздоровительного комплекса</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">32</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Земельный участок под девелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">33</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Зем участок с ГПЗУ под ТРЦ общей площадью порядка 6 тыс. кв.м.</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">34</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Инвестиционный проект строительства многофункционального культурно-просветительского комплекса с гостиничной&nbsp;&nbsp;частью на 500 номеров. </div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">35</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">ИЗК под редевелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">36</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Продажа действующего гостинично-делового комплекса общей площадью свыше 56 тыс. кв.м.</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">37</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Проект строительства элитного жилого дома</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">38</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">земельный участок площадью 2,57 га в собсвености с строениями на територии&nbsp;&nbsp;под редевелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">39</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">проект строительства многофункционального комлекса &#40;квартиры, апартаменты&#41; общей площадью 58 тыс. кв.м.</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">40</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Проект строительства гостиничного комплекса площадью 14 395 кв.м в ЦАО. Получено ГПЗУ</div>
</div>
