<div class="table__row">
	<div class="table__cell number-cell">1</div>
	<div class="table__cell area-2-cell">6</div>
	<div class="table__cell desc-cell">Земельный участок. Категория: с/х. ВРИ: для ведения фермерского хозяйства</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">2</div>
	<div class="table__cell area-2-cell">5,3</div>
	<div class="table__cell desc-cell">Проект строительства многофункционального торгово-административного и производственно-складского комплекса с автостоянкой</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">3</div>
	<div class="table__cell area-2-cell">30</div>
	<div class="table__cell desc-cell">Земельный участок. Категория: с/х. ВРИ: под дачное строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">4</div>
	<div class="table__cell area-2-cell">26,9</div>
	<div class="table__cell desc-cell">Проект строительства &#40;реконструкцию&#41; гостинично-рекреационного комплекса </div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">5</div>
	<div class="table__cell area-2-cell">26,7</div>
	<div class="table__cell desc-cell">Инвестицонный проект коттеджного поселка </div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">6</div>
	<div class="table__cell area-2-cell">8,2</div>
	<div class="table__cell desc-cell">Земельный участок. Категория: с/х. ВРИ: под дачное строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">7</div>
	<div class="table__cell area-2-cell">9,3</div>
	<div class="table__cell desc-cell">Земельный участок. Категория: с/х. ВРИ: под дачное строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">8</div>
	<div class="table__cell area-2-cell">1</div>
	<div class="table__cell desc-cell">Продажа здания 6,8 тыс кв.м. &#40;офисно-торговый комплекс&#41;</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">9</div>
	<div class="table__cell area-2-cell">25</div>
	<div class="table__cell desc-cell">Земельный участок в Истрнком районе. Категория: с/х. ВРИ: с/х, в стадии смены под ИЖС</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">10</div>
	<div class="table__cell area-2-cell">37</div>
	<div class="table__cell desc-cell">Земельный участок в Истринском районе. Категория: с/х. ВРИ: с/х, в стадии смены под малоэтажное строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">11</div>
	<div class="table__cell area-2-cell">23</div>
	<div class="table__cell desc-cell">Земельный участок в Истринском районе. Категория: с/х. ВРИ: с/х, в стадии смены под малоэтажное строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">12</div>
	<div class="table__cell area-2-cell">18,9</div>
	<div class="table__cell desc-cell">Земельный участок в Истринском районе. Категория: с/х. ВРИ: с/х </div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">13</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Прокт стротельства жилого комплекса. Получено разрешение на строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">14</div>
	<div class="table__cell area-2-cell">1,87</div>
	<div class="table__cell desc-cell">Проект строительства&nbsp;&nbsp;нежилой недвижимости–помещений производственного, складского назначения, торгово&#8208;развлекательные площади</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">15</div>
	<div class="table__cell area-2-cell">3,6</div>
	<div class="table__cell desc-cell">Проект строительства индивидуальных коттеджей </div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">16</div>
	<div class="table__cell area-2-cell">6</div>
	<div class="table__cell desc-cell">Земельный участок. Категория: с/х. ВРИ: под дачное строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">17</div>
	<div class="table__cell area-2-cell">3</div>
	<div class="table__cell desc-cell">Поект строительства жилого комплеса общей площадью свыше 43 тыс.кв.м.</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">18</div>
	<div class="table__cell area-2-cell">19</div>
	<div class="table__cell desc-cell">Земельный участок. Категория: земли населенных пунктов. ВРИ: под малоэтажное строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">19</div>
	<div class="table__cell area-2-cell">-</div>
	<div class="table__cell desc-cell">Пул земельных участков. Категория: земли населенных пунктов. ВРИ: под жилую застройку</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">20</div>
	<div class="table__cell area-2-cell">0,7</div>
	<div class="table__cell desc-cell">Проект строительства гостиницы. Получено разрешение на строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">21</div>
	<div class="table__cell area-2-cell">10</div>
	<div class="table__cell desc-cell">Земельный участок в Истринском районе с проектом строительства малоэтажного жилого комплекса площадью 65 тыс. кв.м. Категория: земли населенных пунктов ВРИ: для жилищного строительства</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">22</div>
	<div class="table__cell area-2-cell">2,8</div>
	<div class="table__cell desc-cell">Проект строительства малоэтажного жилого комплекса общей площадью 26 тыс. кв.м.</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">23</div>
	<div class="table__cell area-2-cell">0,5</div>
	<div class="table__cell desc-cell">Земельный участок в Истринском районе с проектом строительства торгового центра. Категория: земли населенных пунктов ВРИ: ЛПХ &#40;в стадии смены категории&#41;</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">24</div>
	<div class="table__cell area-2-cell">4,6</div>
	<div class="table__cell desc-cell">Пул земельных участков под малоэтажное строительство в Дмитровском районе</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">25</div>
	<div class="table__cell area-2-cell">0,46</div>
	<div class="table__cell desc-cell">Земельный участок под строительство торгового центра площадью 10 тыс. кв.м.</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">26</div>
	<div class="table__cell area-2-cell">5</div>
	<div class="table__cell desc-cell">Земельный участок под строительство торгового центра&nbsp;&nbsp;</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">27</div>
	<div class="table__cell area-2-cell">0,5</div>
	<div class="table__cell desc-cell">Земельный участок под строительство ТЦ, автосалона, автозаправочного комплекса, автосалона, ресторана</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">28</div>
	<div class="table__cell area-2-cell">0,77</div>
	<div class="table__cell desc-cell">Инвестиционный проект по реконструкции объекта незавершенного строительства торгово-офисного центра</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">29</div>
	<div class="table__cell area-2-cell">0,4</div>
	<div class="table__cell desc-cell">Участок&nbsp;&nbsp;с ГПЗУ на жилой 17 эт. дом. </div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">30</div>
	<div class="table__cell area-2-cell">3,9</div>
	<div class="table__cell desc-cell">Земельный участок. Категория: земли населеных пунктов. ВРИ: под размещение многофункционального торгового центра</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">31</div>
	<div class="table__cell area-2-cell">6</div>
	<div class="table__cell desc-cell">Земельный участок. Категория: земли поселений. ВРИ: под ИЖС</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">32</div>
	<div class="table__cell area-2-cell">0,8</div>
	<div class="table__cell desc-cell">Инвестиционный проект стриотельства ТРЦ общей площадью 24,5 тыс.кв.м.&nbsp;&nbsp;с полученным разрешением на строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">33</div>
	<div class="table__cell area-2-cell">3,29</div>
	<div class="table__cell desc-cell">Многофункциональный&nbsp;&nbsp;рекреационно-общественный центр</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">34</div>
	<div class="table__cell area-2-cell">11,2</div>
	<div class="table__cell desc-cell">ИЗК под редевелопмент</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">35</div>
	<div class="table__cell area-2-cell">7,63</div>
	<div class="table__cell desc-cell">Прокт строительства жилого комплекса площадью 46,5 тыс. кв.м. Земельный участок ВРИ под малоэтажное строительство. Получено разрешение на строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">36</div>
	<div class="table__cell area-2-cell">108</div>
	<div class="table__cell desc-cell">Земельный участок под строительсто малоэтажного жилого комплекса общей площадью свыше 500 тыс. кв.м.</div>
</div>
