<div class="table__row">
	<div class="table__cell number-cell">1</div>
	<div class="table__cell area-2-cell">22,4</div>
	<div class="table__cell desc-cell">Земельный участок в Новой Москве. ВРИ: с/х</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">2</div>
	<div class="table__cell area-2-cell">10</div>
	<div class="table__cell desc-cell">Земельный участок в Новой Москве. ВРИ: с/х </div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">3</div>
	<div class="table__cell area-2-cell">10</div>
	<div class="table__cell desc-cell">Земельный участок в Новой Москве. ВРИ: для дачного строительства</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">4</div>
	<div class="table__cell area-2-cell">200</div>
	<div class="table__cell desc-cell">Пул земельных участков в Новой Москве. ВРИ: ИЖС</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">5</div>
	<div class="table__cell area-2-cell">265</div>
	<div class="table__cell desc-cell">Пул земельных участков в Новой Москве. ВРИ: ИЖС</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">6</div>
	<div class="table__cell area-2-cell">0,79</div>
	<div class="table__cell desc-cell">Земельный участок в Новой Москве. ВРИ: под малоэтажное строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">7</div>
	<div class="table__cell area-2-cell">216</div>
	<div class="table__cell desc-cell">Земельный участок в Новой Москве. ВРИ: для дачного строительства</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">8</div>
	<div class="table__cell area-2-cell">21</div>
	<div class="table__cell desc-cell">Земельный участок в Новой Москве. ВРИ: ИЖС</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">9</div>
	<div class="table__cell area-2-cell">27</div>
	<div class="table__cell desc-cell">Земельный участок в Новой Москве. ВРИ: ИЖС</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">10</div>
	<div class="table__cell area-2-cell">70</div>
	<div class="table__cell desc-cell">Инвестицонный проект строительства загородного жилого комплекса в Новой Москве</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">11</div>
	<div class="table__cell area-2-cell">15,6</div>
	<div class="table__cell desc-cell">Земельный участок в Новой Москве. ВРИ: под размещение оздоровительного лагеря</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">12</div>
	<div class="table__cell area-2-cell">27,7</div>
	<div class="table__cell desc-cell">Земельный участок в Новой Москве. ВРИ: под малоэтажное строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">13</div>
	<div class="table__cell area-2-cell">16</div>
	<div class="table__cell desc-cell">Земельный участок в Новой Москве. ВРИ: под малоэтажное строительство</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">14</div>
	<div class="table__cell area-2-cell">9,4</div>
	<div class="table__cell desc-cell">Земельный участок в Новой Москве под сроительство торгового центра и логистического комплекса</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">15</div>
	<div class="table__cell area-2-cell">1</div>
	<div class="table__cell desc-cell">Земельные участки в Новой Москве. ВРИ: ИЖС</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">16</div>
	<div class="table__cell area-2-cell">67</div>
	<div class="table__cell desc-cell">Пул земельных участков в Новой Москве. ВРИ: ИЖС</div>
</div>
<div class="table__row">
	<div class="table__cell number-cell">17</div>
	<div class="table__cell area-2-cell">8,2</div>
	<div class="table__cell desc-cell">Бывший пионерский лагерь. ВРИ: под оздоровительный лагерь</div>
</div>
