/* fonts */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-ExtraBold.woff') format('woff'), url('../fonts/Circe-ExtraBold.ttf') format('truetype'), url('../fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-ExtraLight.woff') format('woff'), url('../fonts/Circe-ExtraLight.ttf') format('truetype'), url('../fonts/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Light.woff') format('woff'), url('../fonts/Circe-Light.ttf') format('truetype'), url('../fonts/Circe-Light.svg#Circe-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Thin.woff') format('woff'), url('../fonts/Circe-Thin.ttf') format('truetype'), url('../fonts/Circe-Thin.svg#Circe-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-family: 'Circe', 'Tahoma', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #fff;
}

.page-404{
	width: 100%;
	height: 100%;
	background-color: #909295;
	display: table;
}

.middle-text{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.page-title{
	font-size: 10em;
	line-height: 1;
	margin-bottom: 30px;
}

.description{
	font-size: 1.5em;
	margin-bottom: 15px;
}

.link, .link:visited, .link:active{
	color: #484c55;
	text-decoration: none;
	line-height: 1.2
}

.link:hover{
	border-bottom: 1px solid;
}