.elit-table{
	display: block;
}

.elit-slider, .elit-info-wrap{
	display: inline-block;
	vertical-align: top;
}

.elit-slider{
	max-width: none;
	width: 59%;
}

.page-background img.active{
	height: auto;
	width: auto;
	min-width: 100%;
	min-height: 100%;
}

.absolute-link{
	display: block;
}

.absolute-link + img{
	position: relative;
	z-index: 2;
}

.search-price__input{
	margin-bottom: 32px;
}

.fake-abs-link{
	text-decoration: none;
	color: inherit;
}

.aside-menu__item .fake-abs-link{
	display: table;
	width: 100%;
	height: 100px;
}

.aside-menu__item--mini_chaotic .fake-abs-link{
	display: table;
	width: 100%;
	height: 91px;
}

.tile-email .fake-abs-link{
	display: table;
	width: 100%;
	height: 84px;
}

.tile .fake-abs-link, .comparison-block .fake-abs-link{
	display: table;
	width: 100%;
}

.comparison-block .fake-abs-link{
	height: 72px;
}

.index-rebase .tile-email .fake-abs-link{
	max-height: 56px;
}

.tile-search .fake-abs-link{
	float: left;
	width: auto;
	margin-left: 13px;
}

.building-image img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

.table__head .table__cell::after{
	top: auto;
	bottom: 0;
}

.news__title::after{
	top: auto;
	bottom: -18px;
}

.window-row{
	margin: 0;
	height: 8px;
}

.small_building{
	width: 22px;
}

.tall_building{
	position: absolute;
	bottom: 0;
	left: 0;
}

.window-item{
	vertical-align: top;
}

.seo-suggestions .building-image{
	height: 100px;
}

.seo-suggestions__item{
	width: 154px;
}

.green-block .fake-abs-link{
	display: table;
	width: 100%;
	height: 54px;
}

.popup__content > img{
	display: block !important;
}
.checkbox:checked + .checkbox-label .checkbox-icon:after, .checkbox.active + .checkbox-label .checkbox-icon:after{
    top: 0;
}