@-webkit-keyframes fa-spin {0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg);}}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

#social-activity .clearfix:before,
#social-activity .clearfix:after,
#social-activity .dl-horizontal dd:before,
#social-activity .dl-horizontal dd:after,
#social-activity .container:before,
#social-activity .container:after,
#social-activity .container-fluid:before,
#social-activity .container-fluid:after,
#social-activity .row:before,
#social-activity .row:after,
#social-activity .form-horizontal .form-group:before,
#social-activity .form-horizontal .form-group:after,
#social-activity .btn-toolbar:before,
#social-activity .btn-toolbar:after,
#social-activity .btn-group-vertical > .btn-group:before,
#social-activity .btn-group-vertical > .btn-group:after,
#social-activity .nav:before, .nav:after,
#social-activity .navbar:before,
#social-activity .navbar:after,
#social-activity .navbar-header:before,
#social-activity .navbar-header:after,
#social-activity .navbar-collapse:before,
#social-activity .navbar-collapse:after,
#social-activity .pager:before,
#social-activity .pager:after,
#social-activity .panel-body:before,
#social-activity .panel-body:after,
#social-activity .modal-footer:before,
#social-activity .modal-footer:after {
    content: " ";
    display: table;
}
/**:before, *:after {*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/
#social-activity .clearfix:after,
#social-activity .dl-horizontal dd:after,
#social-activity .container:after,
#social-activity .container-fluid:after,
#social-activity .row:after,
#social-activity .form-horizontal .form-group:after,
#social-activity .btn-toolbar:after,
#social-activity .btn-group-vertical > .btn-group:after,
#social-activity .nav:after,
#social-activity .navbar:after,
#social-activity .navbar-header:after,
#social-activity .navbar-collapse:after,
#social-activity .pager:after,
#social-activity .panel-body:after,
#social-activity .modal-footer:after {
    clear: both;
}
#social-activity .clearfix:before,
#social-activity .clearfix:after,
#social-activity .dl-horizontal dd:before,
#social-activity .dl-horizontal dd:after,
#social-activity .container:before,
#social-activity .container:after,
#social-activity .container-fluid:before,
#social-activity .container-fluid:after,
#social-activity .row:before,
#social-activity .row:after,
#social-activity .form-horizontal .form-group:before,
#social-activity .form-horizontal .form-group:after,
#social-activity .btn-toolbar:before,
#social-activity .btn-toolbar:after,
#social-activity .btn-group-vertical > .btn-group:before,
#social-activity .btn-group-vertical > .btn-group:after,
#social-activity .nav:before, .nav:after,
#social-activity .navbar:before,
#social-activity .navbar:after,
#social-activity .navbar-header:before,
#social-activity .navbar-header:after,
#social-activity .navbar-collapse:before,
#social-activity .navbar-collapse:after,
#social-activity .pager:before, .pager:after,
#social-activity .panel-body:before,
#social-activity .panel-body:after,
#social-activity .modal-footer:before,
#social-activity .modal-footer:after {
    content: " ";
    display: table;
}
#social-activity .pull-left {
    float: left;
}
#social-activity .pull-right {
    float: right;
}
#social-activity .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
#social-activity .fa-external-link:before {
    content: "\f08e";
}
#social-activity .fa-spinner:before {
    content: "\f110";
}
#social-activity .fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
#social-activity .container {
    width: 838px !important;
    padding-left: 0;
    padding-right: 0;
}
#social-activity a,
#social-activity img {
    outline: 0;
}
#social-activity a:active,
#social-activity img:active,
#social-activity a:focus,
#social-activity img:focus,
#social-activity a:hover,
#social-activity img:hover {
    outline: 0 !important;
}
#social-activity {
    background-color: #fff;
    overflow: hidden;
    padding: 75px 0 70px 0;
}
#social-activity {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}
#social-activity .img-wrap {
    text-align: center;
    min-height: 100px;
    max-height: 150px;
}
#social-activity .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#social-activity .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#social-activity header {
    margin-bottom: 20px;
}
#social-activity header .social-links {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    top: 5px;
}
#social-activity header .social-links ul {
    list-style-type: none;
}
#social-activity header .social-links li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 3px;
}
#social-activity header .social-links li a {
    display: inline-block;
    height: 28px;
    width: 28px;
    background-image: url("../images/vk/sprites.png");
}
#social-activity header .social-links li a.vkontakte {
    background-position: -1px -32px;
}
#social-activity header .social-links li a.facebook {
    background-position: -31px -32px;
}
#social-activity header .social-links li a.twitter {
    background-position: -61px -32px;
}
#social-activity header .social-links li a.instagram {
    background-position: -91px -32px;
}
#social-activity header .social-links li a.odnoklassniki {
    background-position: -121px -32px;
}
#social-activity header .social-links li a.mailru {
    background-position: -153px -32px;
}
#social-activity header h4,
#social-activity header .hash-tag {
    font-size: 32px;
    color: #3b3b3b;
    display: inline-block;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 0;
}
#social-activity header a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}
#social-activity header a {
    color: #337ab7;
    text-decoration: none;
}
#social-activity header .hash-tag {
    display: block;
    text-align: center;
}
#social-activity header .hash-tag a,
#social-activity header .hash-tag a:hover {
    text-decoration: none;
}
#social-activity footer {
    text-align: center;
}
#social-activity footer .btn {
    text-shadow: none;
    padding: 12px 40px;
    text-transform: uppercase;
    border: 1px solid #6792b5;
    text-align: center;
    text-decoration: none;
    color: #014984;
    font-weight: 600;
}
#social-activity footer .btn .fa {
    margin-left: 5px;
}
#social-activity a {
    color: #337ab7;
    text-decoration: none;
}
.fb-entries {
    position: relative;
    box-sizing: border-box;
}
.fb-entries .fb-entry {
    color: #3b3b3b;
    width: 31%;
    margin-right: 1%;
    margin-left: 1%;
    display: block;
    float: left;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #dfdfdf;
    border-top-color: #f5f5f5;
    border-left-color: #f5f5f5;
    box-sizing: border-box;
    cursor: pointer;
}
.fb-entries .fb-entry .fa-external-link {
    margin-left: 5px;
}
.fb-entries .fb-entry img.pull-left {
    margin-right: 10px;
    margin-bottom: 10px;
}
.fb-entries .fb-entry strong {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 4px;
}
.fb-entries .fb-entry .entry-date {
    margin-bottom: 10px;
    display: block;
}
.fb-entries .fb-entry p {
    font-weight: normal;
    word-wrap: break-word;
}
.fb-entries.loaded .fb-entry {
    float: none;
}