.ty-btn__no_link {
    background: #7a8998;
    color: #fff;
    cursor: default;
}

.ty-btn i.ty-icon-heart {
    top: 1px;
    margin-right: 0;
}

.ty-btn i.ty-icon-heart::before {
    content: "";
}

a.like.ty-btn__secondary:hover i::after {
    opacity: 1;
    right: 0;
}

a.like i {
    transition: 0.3s;
}

.ty-compact-list__content a.like {
    margin-bottom: 10px;
}

.ty-btn__secondary i.ty-icon-heart::after {
    content: "\e006";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.3s;
}

i.ty-icon-heart::after {
    content: "\e006";
    position: absolute;
    opacity: 1;
    top: 0;
    transition: 0.3s;
}

a.like:not(.ty-btn__secondary) i {
    padding-right: 13px;
    margin-right: 5px;
}

a.like.ty-btn__secondary:hover i {
    padding-right: 10px;
    margin-right: 5px;
}

.ty-template-small__item form {
    display: inline-block;
}

.ty-template-small__item form + div {
    float: right;
}

.ty-grid-list__control .ty-quick-view-button {
    display: inline-block;
}

.owl-item .ty-scroller-list__control {
    visibility: hidden;
}

.owl-item:hover .ty-scroller-list__control {
    visibility: visible;
}

.ty-sidebox .small .ty-btn {
    display: none;
}

.ty-quick-view-button {
    padding-right: 5px;
}
